@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 35% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 0 71% 61%;
    --primary-foreground: 210 40% 98%;
    --secondary: 200 92% 45%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 95%;
    --muted-foreground: 210 25% 25%;
    --accent: 210 40% 95%;
    --accent-foreground: 210 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 200 95% 92%;
    --input: 200 95% 92%;
    --ring: 200 92% 45%;
    --chart-1: 200 92% 45%;
    --chart-2: 0 71% 61%;
    --chart-3: 6 96% 61%;
    --chart-4: 24 20% 85%;
    --chart-5: 187 75% 64%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 0 71% 51%;
    --primary-foreground: 210 40% 98%;
    --secondary: 200 92% 35%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 20% 25%;
    --muted-foreground: 210 5% 65%;
    --accent: 210 20% 25%;
    --accent-foreground: 210 5% 65%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 200 50% 18%;
    --input: 200 50% 18%;
    --ring: 200 92% 35%;
    --chart-1: 200 92% 35%;
    --chart-2: 0 71% 51%;
    --chart-3: 6 96% 51%;
    --chart-4: 24 20% 65%;
    --chart-5: 187 75% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 24px 0;
    }
  }

  .animate-wave {
    animation: wave 2s linear infinite;
  }
}
